*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

header{
    width: 100%;
    height: 100vh;

}

header .sub-menu{
    display:flex;
    justify-content: space-between;
    margin: 2px 0px 0px 20px;
    border-bottom: 1px solid #ddd;
}

header .sub-menu .sponsors img{
    height: 32px;
    margin: 5px 0px 0px 0px; 
 
}

.right-menu li{
    display: inline-block;
    padding: 12px 12px 12px 12px;

}

.right-menu{
    display: flex;
}

.right-menu ul:first-child{
    border-right: 1px solid #ddd;
}

.right-menu a{
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.428;
    font-weight: 400;
    color: #140a47;
    transition: all 1s ease;
}

.sub-menu a:hover{
    text-decoration: underline;
}

header .sub-menu a{
    text-decoration: none;
    font-size: 20px;
    font-size: .875rem;
    line-height: 1.428;
    font-weight: 400;
    color: #140a47;
    padding: 12px 0px 12px 0px;
}

.right-menu ul{
    border-right: 1px solid #ddd;
}

.logo a img{
    height: 40px;
    margin: 0px;
}

.logo{
    padding: 20px 40px 20px 20px;
}

.middle-menu a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    line-height: 3.333;
 
}

.middle-menu ul>li{
    padding: 10px 30px;
    display: inline-block;
}

.middle-menu ul>li::after{
    width: 0%;
    content: "";
    background-color: black;
    height: 2px;
    display: block;
    transition: all 0.8s ease-in-out;
}

.middle-menu ul>li:hover::after{
    width: 100%;
    transform: scale(1.3);
}

.search{
    padding: 30px 20px;
    color: #777;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 1s ease-in;
}

.search:hover{
    color: black;
    transform: scale(1.3);
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.bar{
    padding: 30px 20px;
    color: #fff;
    background-color: black;
    margin: 0px;
    height: 100%;
    cursor: pointer;
}

.bar .fa-solid{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px 10px;
}

.bar p{
    font-size: 11px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-style: italic;
}
.bar p i{
    font-size: 14px;
}

nav{
    margin: 0;
    padding: 0;
}