*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

header{
    width: 100%;
    height: 100vh;

}

header nav{
    display:flex;
    justify-content: space-between;
}

header nav .sponsors img{
    height: 32px; 
 
}

.right-menu li{
    display: inline-block;
    padding: 12px 12px;

}

.right-menu{
    display: flex;
}

.right-menu a{
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    color: #140A47;
}

header nav a{
    text-decoration: none;
    font-size: 20px;
}